{{ form_start(formAvatar, {'method': 'POST', 'attr': {'role': 'form'}}) }}

    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(formAvatar.image) }}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-photo"></i></span>
                {{ form_widget(formAvatar.image) }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="required">&nbsp</label>
            <div class="input-group">
                {{ form_widget(formAvatar.submit) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group" align="center">
            <img id="image" class="img-responsive pad thumbnail" style="max-height: 500px" src="{{ image_update }}">
        </div>
    </div>

{{ form_end(formAvatar)}}