{% macro facebook_sdk() %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId={{ application_fb_app_id }}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endmacro %}

{% macro flash_message_success() %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="flashbag flashbag-success">
            <a class="pull-right btn-close" href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="cerrar">×</a>
            <i class="fa fa-fw fa-check"></i> {{ flash_message }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro flash_message_warning() %}
    {% for flash_message in app.session.flashBag.get('warning') %}
        <div class="flashbag flashbag-warning">
            <a class="pull-right btn-close" href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="cerrar">×</a>
            <i class="fa fa-fw fa-warning"></i> {{ flash_message }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro flash_message_error() %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flashbag flashbag-error">
            <a class="pull-right btn-close" href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="cerrar">×</a>
            <i class="fa fa-fw fa-times-circle-o"></i> {{ flash_message }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro tianos_alert_success_2() %}
    <div class="tianos-alert-success-2 row" style="display: none">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible">
                <h4><i class="icon fa fa-check"></i> Exito!</h4>
                <span></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tianos_alert_warning_2() %}
    <div class="tianos-alert-warning-2 row" style="display: none">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible">
                <h4><i class="icon fa fa-check"></i> Info!</h4>
                <span></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tianos_alert_error_2() %}
    <div class="tianos-alert-error-2 row" style="display: none">
        <div class="col-md-12">
            <div class="alert alert-error alert-dismissible">
                <h4><i class="icon fa fa-check"></i> Info!</h4>
                <span></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tianos_alert_success() %}
    {% for flash_message in app.session.flashBag.get('alert_success') %}
        <div class="tianos-alert-success row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Exito!</h4>
                    {{ flash_message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro tianos_alert_warning() %}
    {% for flash_message in app.session.flashBag.get('alert_warning') %}
        <div class="tianos-alert-warning row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Info!</h4>
                    {{ flash_message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro tianos_alert_error() %}
    {% for flash_message in app.session.flashBag.get('alert_error') %}
        <div class="tianos-alert-error row">
            <div class="col-md-12">
                <div class="alert alert-error alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Info!</h4>
                    {{ flash_message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

