{% import "ThemesBundle::Adminlte/Macro/html.html.twig" as html %}
{% import "ThemesBundle::Adminlte/Macro/head.html.twig" as head %}
{% import "ThemesBundle::Adminlte/Macro/meta.html.twig" as meta %}
{% import "ThemesBundle::Adminlte/Macro/bi3d.html.twig" as bi3d %}
{% import "ThemesBundle::Adminlte/Macro/twitter.html.twig" as twitter %}
{% import "ThemesBundle::Adminlte/Macro/open_graph.html.twig" as og %}

{% spaceless %}
    <!DOCTYPE html>
    <html>
    <head>

        {{ head.meta_default() }}
        {{ head.favicon() }}
        {{ head.canonical() }}

    {% block stylesheets %}

        {#'@ThemesBundle/Resources/public/common/css/skin-tianos.css'#}

        {% stylesheets
            filter='cssrewrite'
            'bundles/themes/adminlte/thirdparty/font-awesome/css/font-awesome.min.css'
            'bundles/themes/adminlte/thirdparty/ionicons/css/ionicons.min.css'
            'bundles/themes/adminlte/plugins/iCheck/flat/orange.css'
            'bundles/themes/adminlte/plugins/iCheck/square/orange.css'
            'bundles/themes/adminlte/plugins/iCheck/square/green.css'
            'bundles/themes/adminlte/plugins/iCheck/square/pink.css'
            'bundles/themes/adminlte/bootstrap/css/bootstrap.min.css'
            'bundles/themes/common/css/tianos.css'
            'bundles/themes/adminlte/dist/css/AdminLTE.min.css'
            '@ThemesBundle/Resources/public/adminlte/dist/css/skins/skin-yellow.min.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/morris/morris.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/datepicker/datepicker3.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/daterangepicker/daterangepicker.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/pace/pace.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
        
        <style>
            .login-box, .register-box{
                margin: 3% auto;
            }
            input[type=checkbox]{
                height: 20px;
                width: 20px;
            }
        </style>

    {% endblock %}

    <body class="{{ application_skin }} hold-transition sidebar-mini login-page {% block bodyclass %}{% endblock %}">

    {% block facebookSdk %}

    {% endblock %}

    {{ include('ThemesBundle:Adminlte/TemplateSuper:2_header.html.twig') }}

    {{ html.flash_message_success }}
    {{ html.flash_message_warning }}
    {{ html.flash_message_error }}

    {% block content %}
    {% endblock %}

    {% block javascripts %}

        {% javascripts
            '@ThemesBundle/Resources/public/adminlte/plugins/jQuery/jquery-2.2.3.min.js'
            '@ThemesBundle/Resources/public/adminlte/bootstrap/js/bootstrap.min.js'
            '@ThemesBundle/Resources/public/common/js/background.cycle.js'
            '@ThemesBundle/Resources/public/common/js/tianos.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {#HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries#}
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/backend/html5shiv/html5shiv.min.js')}}"></script>
        <script src="{{ asset('bundles/backend/respond/respond.min.js')}}"></script>
        <![endif]-->

        <script type="text/javascript">
            $(document).ready(function() {
                $("body").backgroundCycle({
                    imageUrls: [
                        '{{ asset('bundles/themes/adminlte/images/bg-image/bg-1.jpg')}}',
                        '{{ asset('bundles/themes/adminlte/images/bg-image/bg-2.jpg')}}',
                        '{{ asset('bundles/themes/adminlte/images/bg-image/bg-3.jpg')}}',
                        '{{ asset('bundles/themes/adminlte/images/bg-image/bg-4.jpg')}}'
                        {#'{{ asset('bundles/themes/adminlte/images/bg-image/bg-5.jpg')}}'#}
                    ],
                    fadeSpeed: 1500,
                    duration: 3000,
                    backgroundSize: SCALING_MODE_COVER
                });
            });
        </script>

        <script type="text/javascript">

            {#To make Pace works on Ajax calls#}
            $(document).ajaxStart(function() { Pace.restart(); });

        </script>

    {% endblock %}

</body>
</html>
{% endspaceless %}

