{#https://livedemo00.template-help.com/wt_prod-12847/#}
{#http://milness.fidex.com.ua/#}

{% import "ThemesBundle::Milness/Macro/html.html.twig" as html %}
{% import "ThemesBundle::Milness/Macro/head.html.twig" as head %}
{% import "ThemesBundle::Milness/Macro/meta.html.twig" as meta %}
{% import "ThemesBundle::Milness/Macro/bi3d.html.twig" as bi3d %}
{% import "ThemesBundle::Milness/Macro/twitter.html.twig" as twitter %}
{% import "ThemesBundle::Milness/Macro/open_graph.html.twig" as og %}

{% spaceless %}
<!DOCTYPE html>
<html lang="en-US">

<head>

    {{ head.meta_default() }}
    {{ head.favicon() }}
    {{ head.canonical() }}

    {% block seo %}
        {% block head %}

            {#para copiar en otras paginas#}
            {{ head.title() }}
        {% endblock %}

        {% block twitter %}
            {{ twitter.card() }}

            {#para copiar en otras paginas#}
            {#{{ twitter.title() }}#}
            {#{{ twitter.description() }}#}
            {#{{ twitter.image() }}#}
        {% endblock %}

        {% block open_graph %}
            {{ og.default() }}
            {{ og.url() }}

            {#para copiar en otras paginas#}
            {#{{ og.title() }}#}
            {#{{ og.description() }}#}
            {#{{ og.image() }}#}
        {% endblock %}

        {% block bi3d %}
            {#para copiar en otras paginas#}
            {#{{ bi3d.art_id() }}#}
            {#{{ bi3d.section() }}#}
            {#{{ bi3d.art_title() }}#}
            {#{{ bi3d.pub_date() }}#}
        {% endblock %}
    {% endblock %}

    {{ head.dns_prefetch() }}
    {{ head.apple_touch_icon() }}


    {#filter='cssrewrite'#}
    {#'bundles/themes/adminlte/thirdparty/font-awesome/css/font-awesome.min.css'#}

    {% block stylesheets %}

        {% stylesheets
            filter='cssrewrite'
            'bundles/themes/milness/css/style-singles.css'
            'bundles/themes/milness/css/settings.css'
            'bundles/themes/milness/css/themes/main1.css'
            'bundles/themes/milness/css/themes/pe-icon-7-stroke.css'
            'bundles/themes/milness/css/woocommerce/woocommerce.css'
            'bundles/themes/milness/css/font-awesome/font-awesome.min.css'
            '@ThemesBundle/Resources/public/milness/css/styles.css'
            '@ThemesBundle/Resources/public/milness/css/woocommerce/woocommerce-layout.css'
            '@ThemesBundle/Resources/public/milness/css/themes/style.css'
            '@ThemesBundle/Resources/public/milness/css/themes/loader.css'
            '@ThemesBundle/Resources/public/milness/css/themes/bootstrap-grid.min.css'
            '@ThemesBundle/Resources/public/milness/css/themes/superfish.css'
            '@ThemesBundle/Resources/public/milness/css/themes/magnific-popup.css'
            '@ThemesBundle/Resources/public/milness/css/themes/slick.css'
            '@ThemesBundle/Resources/public/milness/css/themes/animate.css'
            '@ThemesBundle/Resources/public/milness/css/themes/style-customizer.css'
            '@ThemesBundle/Resources/public/milness/css/visual-composer/js_composer.min.css'
        %}
            <link rel='stylesheet' type='text/css' media='all' href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
            '@ThemesBundle/Resources/public/milness/css/visual-composer/vc_lte_ie9.min.css'
        %}
            <link rel='stylesheet' type='text/css' media='screen' href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
            '@ThemesBundle/Resources/public/milness/css/woocommerce/woocommerce-smallscreen.css'
        %}
            <link rel='stylesheet' type='text/css' media='only screen and (max-width: 768px)' href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    <link rel='stylesheet' id='milness-fonts-css' href='//fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C500%2C600%2C700%2C300%7CRoboto%3A400%2C500%2C700%2C300%7CPacifico%7CPoppins%7CLato%3A900&#038;ver=1.0.0' type='text/css' media='all' />

    {% block javascripts %}

        {#'@ThemesBundle/Resources/public/milness/js/woocommerce/cart-fragments.min.js'#}

        {% javascripts
            '@ThemesBundle/Resources/public/milness/js/jquery.js'
            '@ThemesBundle/Resources/public/milness/js/rev-slider/jquery.themepunch.tools.min.js'
            '@ThemesBundle/Resources/public/milness/js/rev-slider/jquery.themepunch.revolution.min.js'
            '@ThemesBundle/Resources/public/milness/js/rev-slider/slider-wrapper.js'
            '@ThemesBundle/Resources/public/milness/js/jquery-migrate.min.js'
            '@ThemesBundle/Resources/public/milness/js/woocommerce/add-to-cart.min.js'
            '@ThemesBundle/Resources/public/milness/js/woocommerce/woocommerce-add-to-cart.js'
            '@ThemesBundle/Resources/public/milness/js/scripts.js'
            '@ThemesBundle/Resources/public/milness/js/woocommerce/jquery.blockUI.min.js'
            '@ThemesBundle/Resources/public/milness/js/woocommerce/js.cookie.min.js'
            '@ThemesBundle/Resources/public/milness/js/woocommerce/woocommerce.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/superfish.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/isotope.pkgd.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/imagesloaded.pkgd.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/slick.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/jquery.sticky-min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/waypoints.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/animate-css.js'
            '@ThemesBundle/Resources/public/milness/js/themes/parallax.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/jquery.magnific-popup.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/jquery-ui.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/gmap3.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/jquery.matchHeight-min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/particles.min.js'
            '@ThemesBundle/Resources/public/milness/js/themes/demo-2.js'
            '@ThemesBundle/Resources/public/milness/js/themes/style-customizer.js'
            '@ThemesBundle/Resources/public/milness/js/themes/common.js'
            '@ThemesBundle/Resources/public/milness/js/themes/navigation.js'
            '@ThemesBundle/Resources/public/milness/js/themes/skip-link-focus-fix.js'
            '@ThemesBundle/Resources/public/milness/js/themes/wp-embed.min.js'
            '@ThemesBundle/Resources/public/milness/js/visual-composer/js_composer_front.min.js'
            '@ThemesBundle/Resources/public/milness/js/visual-composer/skrollr.min.js'
        %}
            <script type='text/javascript' src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/milness.fidex.com.ua\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.3"}};
            !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>

{#        <script type='text/javascript'>
            /* <![CDATA[ */
            var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/milness.fidex.com.ua\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/milness.fidex.com.ua\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
            /* ]]> */
        </script>#}

{#        <script type='text/javascript'>
            /* <![CDATA[ */
            var wc_cart_fragments_params = {
                "ajax_url": "\/wp-admin\/admin-ajax.php",
                "wc_ajax_url": "http:\/\/milness.fidex.com.ua\/?wc-ajax=%%endpoint%%",
                "fragment_name": "wc_fragments_8729c9cde7be93f676595d338d6b6e43"
            };
            /* ]]> */
        </script>#}

        <noscript>
            <style>.woocommerce-product-gallery{ opacity: 1 !important; }</style>
        </noscript>

        <noscript>
            <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
        </noscript>

        <script>
            /* style-customizer */
            jQuery(document).ready(function($) {

                /*************************
                 Left sidebar
                 *************************/
                style_switcher = $('.style-customizer'),
                    panelWidth = style_switcher.outerWidth(true);
                $('.style-customizer .opener').on("click", function(){
                    var $this = $(this);
                    if ($(".style-customizer.closed").length>0) {
                        style_switcher.animate({"left" : "0px"});
                        $(".style-customizer.closed").removeClass("closed");
                        $(".style-customizer").addClass("opened");
                    } else {
                        $(".style-customizer.opened").removeClass("opened");
                        $(".style-customizer").addClass("closed");
                        style_switcher.animate({"left" : '-' + panelWidth});
                    }
                    return false;
                });

                /*************************
                 style change
                 *************************/
                var link = $('link[id="milness-main-css"]'),
                    link_no_cookie = $('link[data-style="styles-no-cookie"]');

                /****************************************
                 Resume from last selected style
                 ****************************************/
                var tp_stylesheet = $.cookie('tp_stylesheet');

                $(".style-customizer .selected").removeClass("selected");
                if (!($.cookie('tp_stylesheet'))) {
                    $.cookie('tp_stylesheet', 'http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main1.css', 30);
                    tp_stylesheet = $.cookie('tp_stylesheet');
                    $('.style-customizer .styleChange li[data-style="'+tp_stylesheet+'"]').addClass("selected");
                } else {
                    if (link.length>0) {
                        link.attr('href','' + tp_stylesheet + '');
                        $('.style-customizer .styleChange li[data-style="'+tp_stylesheet+'"]').addClass("selected");
                    };
                };

                /*************************
                 Color Changer
                 *************************/
                $('.style-customizer .styleChange li').on('click',function(){
                    if (link.length>0) {
                        var $this = $(this),
                            tp_stylesheet = $this.data('style');
                        $(".style-customizer .styleChange .selected").removeClass("selected");
                        $this.addClass("selected");
                        link.attr('href', '' + tp_stylesheet + '');
                        $.cookie('tp_stylesheet', tp_stylesheet, 30);
                    } else {
                        var $this = $(this),
                            tp_stylesheet_no_cookie = $this.data('style');
                        $(".style-customizer .styleChange .selected").removeClass("selected");
                        $this.addClass("selected");
                        link_no_cookie.attr('href', '' + tp_stylesheet_no_cookie + '');

                    };
                });

                /**************************************
                 Reset all customize styles
                 **************************************/
                $('.style-customizer .resetAll li a.button-reset').on('click',function() {
                    $(".owl-carousel .container").css("marginLeft", "auto");
                    $('.style-customizer .patternChange li.selected').removeClass("selected");

                    //Logo change
                    $.cookie('tp_stylesheet', 'http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main1.css', 30);
                    var tp_stylesheet = 'http://milness.fidex.com.ua/wp-content/themes/milness/assets/css/main1.css';
                    $('.style-customizer .styleChange li.selected').removeClass("selected");
                    $('.style-customizer .styleChange li[data-style="'+tp_stylesheet+'"]').addClass("selected");
                    link.attr('href', '' + tp_stylesheet + '');
                    $(window).trigger('resize');
                });

            });


        </script>

        <script>
            {#style-customizer end#}
            jQuery(document).ready(function($){
                $('.quantity').on('click', '.plus', function(e) {
                    $input = $(this).prev('input.qty');
                    var val = parseInt($input.val());
                    var step = $input.attr('step');
                    step = 'undefined' !== typeof(step) ? parseInt(step) : 1;
                    $input.val( val + step ).change();
                });
                $('.quantity').on('click', '.minus',
                    function(e) {
                        $input = $(this).next('input.qty');
                        var val = parseInt($input.val());
                        var step = $input.attr('step');
                        step = 'undefined' !== typeof(step) ? parseInt(step) : 1;
                        if (val > 0) {
                            $input.val( val - step ).change();
                        }
                    });
            });
        </script>

        <script type="text/javascript">
            function revslider_showDoubleJqueryError(sliderID) {
                var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
                errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
                errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
                errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                jQuery(sliderID).show().html(errorMessage);
            }
        </script>

        <script type='text/javascript'>
            /* <![CDATA[ */
            var wpcf7 = {
                "apiSettings": {
                    "root": "http:\/\/milness.fidex.com.ua\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                },
                "recaptcha": {
                    "messages": {
                        "empty": "Please verify that you are not a robot."
                    }
                }
            };
            /* ]]> */
        </script>

        <script type='text/javascript'>
            /* <![CDATA[ */
            var woocommerce_params = {
                "ajax_url": "\/wp-admin\/admin-ajax.php",
                "wc_ajax_url": "http:\/\/milness.fidex.com.ua\/?wc-ajax=%%endpoint%%"
            };
            /* ]]> */
        </script>

        <link href="http://fonts.googleapis.com/css?family=Lato:900%7CRoboto+Slab:300%2C700%2C900%2C400%7CRoboto:300%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js?ver=3.0.22'></script>

        <script type='text/javascript'>
            WebFont.load({
                google: {
                    families: ['Roboto Slab:700', 'Pacifico:', 'Roboto:700']
                }
            });
        </script>

    {% endblock %}

</head>

<body class="home page-template page-template-page-builder page-template-page-builder-php page page-id-1807 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

    <div id="preloader">
        <div style="background-color: #1e73be" id="status"></div>
    </div>

    <div id="top-scroll"></div>

    {{ include("ThemesBundle::Milness/2_header.html.twig") }}

    {% block content %}

    {% endblock %}

    {{ include("ThemesBundle::Milness/3_footer.html.twig") }}

</body>
</html>
{% endspaceless %}