<header class="main-header">

    {#Logo#}
    <a href="{{ url('frontend_default_index') }}" class="logo">
        {#mini logo for sidebar mini 50x50 pixels#}
        <span class="logo-mini">
            {#<b>TIA</b>NOS#}
            <img src="{{ asset('bundles/frontend/images/favicon.ico')}}" height="40" width="40">
        </span>

        {#logo for regular state and mobile devices#}
        <span class="logo-lg">
            {{ project_name_html|raw }}
        </span>
    </a>

    {#Header Navbar: style can be found in header.less#}
    <nav class="navbar navbar-static-top">

        {#Sidebar toggle button#}
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">

            {#<form id="search-box-header" action="" class="navbar-form navbar-left" role="search" >#}
                {#<div class="input-group" >#}
                    {#<input type="text" class="form-control" placeholder="Buscar..." id="navbar-search-input">#}
                    {#<span class="input-group-btn">#}
                        {#<button type="submit" name="search" id="search-btn" class="btn btn-flat" >#}
                            {#<i class="fa fa-search" style="color: #E8750C"></i>#}
                        {#</button>#}
                    {#</span>#}
                {#</div>#}
            {#</form>#}

            <ul class="nav navbar-nav">

{#                <li class="messages-menu">
                    <a href="{{ path('backend_googledrive_index', {id: 'my-drive'}) }}" class="dropdown-toggle" title="Subir archivo">
                        <i class="fa fa-upload"></i>
                    </a>
                </li>#}

                {% if app.user is not null %}
                    {#Messages: style can be found in dropdown.less#}
                    {#{{ include("CoreBundle::Template/dropdown_menu_messages.html.twig") }}#}

                    {#Notifications: style can be found in dropdown.less#}
                    {{ include("CoreBundle::TemplateMain/dropdown_menu_notifications.html.twig") }}

                    {#Tasks: style can be found in dropdown.less#}
                    {#{{ include("CoreBundle::Template/dropdown_menu_tasks.html.twig") }}#}
                {% endif %}

                {% if app.user is null %}
                    <li>
                        {#<a href="{{ url('frontend_security_login') }}">#}
                        <a href="{{ url('frontend_security_login') }}">
                            <i class="fa fa-key"></i> Login
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('frontend_user_register') }}" title="Crea tu nueva cuenta">
                            <i class="fa fa-user-plus"></i> Crear cuenta
                        </a>
                    </li>
                {% endif %}

                {#User Account: style can be found in dropdown.less#}
                {% if app.user is not null %}
                    {{ include("CoreBundle::TemplateMain/dropdown_menu_user.html.twig") }}
                {% endif %}

            </ul>
        </div>
    </nav>
</header>