{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        filter='cssrewrite'
        '@AssociativeacademicBundle/Resources/public/css/tianos.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <style>
        input[type=radio], input[type=checkbox] {
            height: 17px;
            width: 17px;
        }
        .col-md-3 {
            padding-right: 5px !important;
            padding-left: 5px !important;
        }
        .box-truncate {
            white-space: nowrap;
            width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .search-row {
            margin-bottom: 5px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@AssociativeacademicBundle/Resources/public/js/boxInfo.js'
        '@AssociativeacademicBundle/Resources/public/js/1_boxOneSearch.js'
        '@AssociativeacademicBundle/Resources/public/js/1_boxOneSelectItem.js'
        '@AssociativeacademicBundle/Resources/public/js/2_boxTwoSearch.js'
        '@AssociativeacademicBundle/Resources/public/js/2_boxTwoSelectItem.js'
        '@AssociativeacademicBundle/Resources/public/js/3_boxThreeSearch.js'
        '@AssociativeacademicBundle/Resources/public/js/3_boxThreeSelectItem.js'
        '@AssociativeacademicBundle/Resources/public/js/4_boxFourSearch.js'
        '@AssociativeacademicBundle/Resources/public/js/4_boxFourSelectItem.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {

            $('div#{{ boxOne.id }}').boxOneSearch({
                boxOneId: '{{ boxOne.id }}',
                boxTwoId: '{{ boxTwo.id }}',
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                searchInputName: '{{ boxOne.search_input_name }}',
                routeSearch: '{{ path(boxOne.route_search) }}'
            });

            $('div#{{ boxTwo.id }}').boxTwoSearch({
                boxOneId: '{{ boxOne.id }}',
                boxTwoId: '{{ boxTwo.id }}',
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                searchInputName: '{{ boxTwo.search_input_name }}',
                routeSearch: '{{ path(boxTwo.route_search) }}'
            });

            $('div#{{ boxThree.id }}').boxThreeSearch({
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                searchInputName: '{{ boxThree.search_input_name }}',
                routeSearch: '{{ path(boxThree.route_search) }}'
            });

            $('div#{{ boxFour.id }}').boxFourSearch({
                boxFourId: '{{ boxFour.id }}',
                searchInputName: '{{ boxFour.search_input_name }}',
                routeSearch: '{{ path(boxFour.route_search) }}'
            });

            $('div#{{ boxOne.id }}').boxOneSelectItem({
                boxOneId: '{{ boxOne.id }}',
                boxTwoId: '{{ boxTwo.id }}',
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                liClass: '{{ boxOne.li_class }}',
                routeSelectItem: '{{ path(boxOne.route_select_item) }}'
            });

            $('div#{{ boxTwo.id }}').boxTwoSelectItem({
                boxOneId: '{{ boxOne.id }}',
                boxTwoId: '{{ boxTwo.id }}',
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                liClass: '{{ boxTwo.li_class }}',
                routeSelectItem: '{{ path(boxTwo.route_select_item) }}',
                routeUpSerting: '{{ path(boxTwo.route_up_serting) }}'
            });

            $('div#{{ boxThree.id }}').boxThreeSelectItem({
                boxOneId: '{{ boxOne.id }}',
                boxTwoId: '{{ boxTwo.id }}',
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                liClass: '{{ boxThree.li_class }}',
                routeSelectItem: '{{ path(boxThree.route_select_item) }}',
                routeUpSerting: '{{ path(boxThree.route_up_serting) }}'
            });

            $('div#{{ boxFour.id }}').boxFourSelectItem({
                boxOneId: '{{ boxOne.id }}',
                boxTwoId: '{{ boxTwo.id }}',
                boxThreeId: '{{ boxThree.id }}',
                boxFourId: '{{ boxFour.id }}',
                liClass: '{{ boxFour.li_class }}',
                {#routeSelectItem: '{{ path(boxFour.route_select_item) }}',#}
                routeUpSerting: '{{ path(boxFour.route_up_serting) }}'
            });


            {#
            $( "form" ).submit(function( event ) {
                event.preventDefault();

                var infoBox = $('#info-box');
                var infoBoxSpan = infoBox.find('span');
                var boxIconDefault = $('#box-icon-default');
                var boxIconRefresh = $('#box-icon-refresh');
                var boxIconThumbsUp = $('#box-icon-thumbs-up');
                var fields = $(this).serializeArray();

                console.log(fields);

                $.ajax({
                    url: '{{ path(box.route_submit) }}',
                    type: 'POST',
                    dataType: 'json',
                    data: fields,
                    beforeSend: function(jqXHR, settings) {
                        $('button[type="submit"]').prop('disabled', true);
                        boxIconDefault.hide();
                        boxIconRefresh.show();
                    },
                    success: function(data, textStatus, jqXHR) {

                        $('button[type="submit"]').prop('disabled', false);
                        boxIconRefresh.hide();
                        boxIconThumbsUp.show();
                        infoBoxSpan.removeClass('bg-aqua').addClass('bg-green');

                        setTimeout(function(){
                            boxIconThumbsUp.hide();
                            boxIconDefault.show();
                            infoBoxSpan.removeClass('bg-green').addClass('bg-aqua');
                        }, 1500);

                    },
                    error: function(jqXHR, exception) {
                        $('button[type="submit"]').prop('disabled', false);
                        boxIconRefresh.hide();
                        boxIconDefault.show();
                    }
                });

            });
            #}

        });
    </script>



{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-{{ box.icon }}"></i> {{ box.title|raw }}
            <small>association</small>
            <small class="error"></small>
            <small class="success"></small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            <li>
                <button
                    class="btn btn-xs btn-info modal-info"
                    alt="Info"
                    title="Info"
                    data-toggle="modal"
                    data-target="#modal-info"
                    style="margin-right: 5px">
                    <i class="fa fa-fw fa-info-circle"></i> Info
                </button>
            </li>
        </ol>
    </section>

    <section class="content">

        <form name="{{ box.form_name }}" method="post">

            <div class="row">

                {#ONE#}
                <div id="{{ boxOne.id }}" class="col-md-3">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-fw fa-{{ boxOne.icon }}"></i> {{ boxOne.title }}
                            </h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                        <div class="box-body">
                            <div class="row search-row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input name="{{ boxOne.search_input_name }}" type="search" class="form-control" maxlength="50">
                                        <span class="input-group-addon">
                                            <i class="fa fa-fw fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul class="todo-list ui-sortable">
                                {{ include('AssociativeacademicBundle:BackendAssociativeacademic/Li:1_box_one.html.twig') }}
                            </ul>
                        </div>
                    </div>
                </div>
                {#ONE#}

                {#TWO#}
                <div id="{{ boxTwo.id }}" class="col-md-3">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-fw fa-{{ boxTwo.icon }}"></i> {{ boxTwo.title }}
                            </h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                        <div class="box-body">
                            <div class="row search-row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input name="{{ boxTwo.search_input_name }}" type="search" class="form-control" maxlength="50">
                                        <span class="input-group-addon">
                                            <i class="fa fa-fw fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul class="todo-list ui-sortable">
                                <li>
                                    <span class="text">
                                        Seleccione una universidad.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {#TWO#}

                {#THREE#}
                <div id="{{ boxThree.id }}" class="col-md-3">
                    <div class="box box-warning box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-fw fa-{{ boxThree.icon }}"></i> {{ boxThree.title }}
                            </h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                        <div class="box-body">
                            <div class="row search-row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input name="{{ boxThree.search_input_name }}" type="search" class="form-control" maxlength="50">
                                        <span class="input-group-addon">
                                            <i class="fa fa-fw fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul class="todo-list ui-sortable">
                                <li>
                                    <span class="text">
                                        Seleccione un área académica.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {#THREE#}

                {#FOUR#}
                <div id="{{ boxFour.id }}" class="col-md-3">
                    <div class="box box-info box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-fw fa-{{ boxFour.icon }}"></i> {{ boxFour.title }}
                            </h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                        <div class="box-body">
                            <div class="row search-row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input name="{{ boxFour.search_input_name }}" type="search" class="form-control" maxlength="50">
                                        <span class="input-group-addon">
                                            <i class="fa fa-fw fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul class="todo-list ui-sortable">
                                <li>
                                    <span class="text">
                                        Seleccione una facultad.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {#FOUR#}

            </div>

        </form>

    </section>

    {{ include('GridBundle:Modal:info.html.twig') }}

{% endblock %}