{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% import "ThemesBundle::Adminlte/Macro/html.html.twig" as html %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block facebookSdk %}
    {{ html.facebook_sdk }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        filter='cssrewrite'
        'bundles/google/css/google.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        body.{{ vars.body_css }} #section-watch .box-sidebar{
            padding-left: 0;
        }

        body.{{ vars.body_css }} #modal-download blockquote small{
            color: white !important;
        }

        .carousel-inner .active.left {
            left: -25%;
        }

        .carousel-inner .next {
            left:  25%;
        }

        .carousel-control.left, .carousel-control.right {
            background-image:none;
        }
        .btn-whatsapp {
            color: #fff;
            background-color: #25d366;
            border-color: rgba(0,0,0,0.2);
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">

        $('#carousel-example-generic').carousel({
            interval: 2000
        });

        $('.carousel .item').each(function(){
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i=0;i<2;i++) {
                next=next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });

        $('#share-qr').click(function() {
            $.ajax({
                url: '{{ path('backend_google_drive_grid_qr') }}',
                type: 'POST',
                cache: true,
                data: {
                    link: '{{ url('backend_google_drive_grid_watch', {slug:entity.slug}) }}'
                },
                beforeSend:function () {
                    $('#modal-qr').modal({show: true});
                },
                success:function (response) {
                    $('#modal-qr .modal-body').html(response);
                },
                error:function(){
                    $('#modal-qr .modal-body').html('error. reintentar');
                    $('#modal-qr').modal({show: true});
                }
            });
        });

        $('.thumbs-up, .thumbs-down').click(function() {
            $.ajax({
                url: '{{ path('backend_google_drive_vote_like_dislike') }}',
                type: 'POST',
                cache: true,
                data: {
                    googleDriveId: '{{ entity.id }}',
                    vote: $(this).data('vote')
                },
                beforeSend:function () {
                    // $('#modal-qr').modal({show: true});
                },
                success:function (response) {
                    // $('#modal-qr .modal-body').html(response);
                },
                error:function(){
                    // $('#modal-qr .modal-body').html('error. reintentar');
                    // $('#modal-qr').modal({show: true});
                }
            });
        });

        $('.thumbs-up').hover(function () {
            $(this).toggleClass("btn-success");
        });

        $('.thumbs-down').hover(function () {
            $(this).toggleClass("btn-danger");
        });

        $(window).load(function() {
            $('#relevance').load('{{ path('backend_google_drive_grid_relevance') }}', {
                id: '{{ entity.id }}',
                fileName: '{{ entity.fileName|tianos_base64_encode }}'
            });
        });

    </script>

{% endblock %}

{% block content %}

    <section id="section-watch" class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-widget"> {#box-solid box-widget#}
                    {{ include('GoogleBundle:GoogleDriveFileGrid/Watch/Box:viewer.html.twig') }}
                </div>
                <div class="box">
                    {{ include('GoogleBundle:GoogleDriveFileGrid/Watch/Box:share.html.twig') }}
                </div>
                <div class="box">
                    {{ include('GoogleBundle:GoogleDriveFileGrid/Watch/Box:videos.html.twig') }}
                </div>
                <div class="box">
                    {{ include('GoogleBundle:GoogleDriveFileGrid/Watch/Box:comments.html.twig') }}
                </div>
            </div>
            <div class="box-sidebar col-md-2">
                {{ include ('GoogleBundle:GoogleDriveFileGrid/Watch/Box:sidebar.html.twig') }}
            </div>
        </div>
    </section>

    {{ include('GoogleBundle:GoogleDriveFileGrid:Watch/Modal/qr.html.twig') }}
    {{ include('GoogleBundle:GoogleDriveFileGrid:Watch/Modal/download.html.twig') }}

{% endblock %}




