{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#{% stylesheets#}
        {#filter='cssrewrite'#}
        {#'@GridBundle/Resources/public/common/css/switch.css'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <style>
        input[type=checkbox] {
            height: 16px;
            width: 16px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#{% javascripts#}
        {#'@GridBundle/Resources/public/common/js/formEdit.js'#}
        {#'@GridBundle/Resources/public/common/js/formView.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

        });


        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([

                ['Puntos de venta', 'Cantidad', {role: 'style'}],

                {% for key, value in jsonArray %}
                    ['{{ key }}', {{ value }}, 'color: #4B3DCD'],
                {% endfor %}

                {#
                ['Year', 'Visitations', {role: 'style'}],
                ['2010', 10, 'color: gray'],
                ['2020', 14, 'color: #76A7FA'],
                ['2030', 16, 'opacity: 0.2'],
                ['2040', 22, 'stroke-color: #703593; stroke-width: 4; fill-color: #C5A5CF'],
                ['2050', 28, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2'],
                #}
            ]);

            var options = {
                title: 'Productos entregados a los PDV',
                hAxis: {
                    title: 'Puntos de venta'
                },
                vAxis: {
                    title: 'Cantidad de productos'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>



{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-{{ vars.icon }}"></i> {{ vars.title|raw }}
            <small>report</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            <li>
                <button
                    class="btn btn-info btn-xs modal-info"
                    alt="Info"
                    title="Info"
                    data-toggle="modal"
                    data-target="#modal-info">
                    <i class="fa fa-fw fa-info-circle"></i> info
                </button>
            </li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-{{ vars.box_class }}">

                    <div class="box-header">
                        <h3 class="box-title">Column Chart</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                {{ include('ReportBundle:ReportBackend:report-form.html.twig') }}
                            </div>
                            <div class="col-md-12">
                                <div id="chart_div" style="width: 100%; height: 600px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {{ include('ReportBundle:Modal:info.html.twig') }}

{% endblock %}
