{{ form_start(form) }}

    {#{% if id is defined %}#}
        {#<input type="hidden" value="{{ id }}" name="id">#}
    {#{% endif %}#}

    {{ form_widget(form._token) }}

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <i class="fa fa-fw fa-calendar"></i>
                {{ form_label(form.dateStart) }}
                {{ form_widget(form.dateStart, {'value' : dateStart}) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <i class="fa fa-fw fa-calendar"></i>
                {{ form_label(form.dateEnd) }}
                {{ form_widget(form.dateEnd, {'value' : dateEnd}) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <br>
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>

{#{{ form_widget(form) }}#}
{{ form_end(form) }}