{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#{% stylesheets#}
        {#filter='cssrewrite'#}
        {#'@GridBundle/Resources/public/common/css/switch.css'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <style>
        input[type=checkbox] {
            height: 16px;
            width: 16px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#{% javascripts#}
        {#'@GridBundle/Resources/public/common/js/formEdit.js'#}
        {#'@GridBundle/Resources/public/common/js/formView.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

        });


        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Semana', 'Sales', 'Expenses', 'Expenses'],
                ['2013',  1000,      400,      300],
                ['2014',  1170,      460,      260],
                ['2015',  660,       1120,      720],
                ['2016',  1030,      540,      540]
            ]);

            var options = {
                title: 'Company Performance',
                hAxis: {title: 'Semana',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>



{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-{{ vars.icon }}"></i> {{ vars.title|raw }}
            <small>report</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            <li>
                <button
                    class="btn btn-info btn-xs modal-info"
                    alt="Info"
                    title="Info"
                    data-toggle="modal"
                    data-target="#modal-info">
                    <i class="fa fa-fw fa-info-circle"></i> info
                </button>
            </li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-{{ vars.box_class }}">

                    <div class="box-header">
                        <h3 class="box-title">Area Chart</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                {{ include('ReportBundle:ReportBackend:report-form.html.twig') }}
                            </div>
                            <div class="col-md-12">
                                <div id="chart_div" style="width: 100%; height: 600px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {{ include('ReportBundle:Modal:info.html.twig') }}

{% endblock %}
