{% macro tree_template(entity, index, template, template_has_module_id) %}

    {% for key, value in entity %}

        {% if loop.index0 == 0 %}
            {% set index = index + 1 %}
        {% endif %}

        {% set entityParent = value.parent %}

        {% if entityParent is not empty %}
            <li
                class="x-hand"
                data-id="{{ entityParent.id_increment }}"
                id="li-{{ entityParent.id_increment }}">

                {{ include('BackendBundle:TemplateSetupEdit:Template/li.html.twig',
                        {
                            entity:entityParent,
                            badge_color:index|badge_colors(),
                        }
                    )
                }}

                {#<ul class="{{ tree.box_child_ul ~ entityParent.id_increment }}">#}
                <ul class="">
                    {% import _self as macro %}
                    {{ macro.tree_template(value.children, index, template, template_has_module_id) }}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

