{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}

    {{ form_start(form) }}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(form._token) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-odnoklassniki"></i>
                {{ form_label(form.client) }}
                {{ form_widget(form.client) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-user-secret"></i>
                {{ form_label(form.profile) }}
                {{ form_widget(form.profile) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-phone"></i>
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-calendar"></i>
                {{ form_label(form.dob) }}
                {{ form_widget(form.dob) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-align-left"></i>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-align-left"></i>
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <i class="fa fa-fw fa-envelope-o"></i>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}