<div class="row ">
    <div class="span12">
        <div class="spacer"></div>

        <div class="content_box">
            <div class="hashAncor" id="detailPage"></div>
            <div class="spacer"></div>

            <div class="title-box clearfix">
                <h2 class="title-box_primary">
                    {% block paragraph_1 %}
                        Stunning app features showcase
                    {% endblock %}
                </h2>
            </div>
            <div class="row">
                <div class="span2"></div>
                <div class="span8 tofade">
                    <p style="text-align: center;">
                        {% block paragraph_2 %}
                            A smal Lorem Ipsum decided to leave.
                        {% endblock %}
                    </p>
                </div>
            </div>

            <div class="spacer"></div>

            <ul class="posts-grid row-fluid unstyled showcase tofade ul-item-0">
                <li class="span6 list-item-1">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="{{ asset('bundles/core/template-frontend/template-3/images/1.jpg') }}" title="CUSTOMER SERVICE" rel="prettyPhoto-1991361067">
                            <img src="{{ asset('bundles/core/template-frontend/template-3/images/1-214x379.jpg') }}" alt="CUSTOMER" />
                            <span class="zoom-icon"></span>
                        </a>
                    </figure>
                    <div class="clear"></div>
                    <div class="desc">
                        {% block paragraph_3 %}
                            <h5>
                                <a href="xxxx" title="CUSTOMER SERVICE">CUSTOMER SERVICE</a>
                            </h5>
                            <p class="excerpt">Epsum factorial non deposit quid pro quo</p>
                        {% endblock %}
                    </div>
                </li>
                <li class="span6 list-item-2">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="{{ asset('bundles/core/template-frontend/template-3/images/2.jpg') }}" title="TEMPLATES" rel="prettyPhoto-1991361067">
                            <img  src="{{ asset('bundles/core/template-frontend/template-3/images/2-214x379.jpg') }}" alt="TEMPLATES" />
                            <span class="zoom-icon"></span>
                        </a>
                    </figure>
                    <div class="clear"></div>
                    <div class="desc">
                        {% block paragraph_4 %}
                            <h5>
                                <a href="xxxx" title="TEMPLATES">TEMPLATES</a>
                            </h5>
                            <p class="excerpt">Epsum factorial non deposit quid pro</p>
                        {% endblock %}
                    </div>
                </li>
            </ul>

            <ul class="posts-grid row-fluid unstyled showcase tofade ul-item-1">
                <li class="span6 list-item-1">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="{{ asset('bundles/core/template-frontend/template-3/images/3.jpg') }}" title="DOMAINS" rel="prettyPhoto-1991361067">
                            <img src="{{ asset('bundles/core/template-frontend/template-3/images/3-214x379.jpg') }}" alt="DOMAINS" />
                            <span class="zoom-icon"></span>
                        </a>
                    </figure>
                    <div class="clear"></div>
                    <div class="desc">
                        {% block paragraph_5 %}
                            <h5>
                                <a href="xxxx" title="DOMAINS">DOMAINS</a>
                            </h5>
                            <p class="excerpt">Epsum factorial non deposit</p>
                        {% endblock %}
                    </div>
                </li>
                <li class="span6 list-item-2">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="{{ asset('bundles/core/template-frontend/template-3/images/4.jpg') }}" title="Amazing style" rel="prettyPhoto-1991361067">
                            <img src="{{ asset('bundles/core/template-frontend/template-3/images/4-214x379.jpg') }}" alt="Amazing style" />
                            <span class="zoom-icon"></span>
                        </a>
                    </figure>
                    <div class="clear">

                    </div>
                    <div class="desc">
                        {% block paragraph_6 %}
                            <h5>
                                <a href="xxxxx" title="Amazing style">Amazing style</a>
                            </h5>
                            <p class="excerpt">Epsum factorial non deposit quid pro quo hic escor</p>
                        {% endblock %}
                    </div>
                </li>
            </ul>

            <ul class="posts-grid row-fluid unstyled showcase tofade ul-item-2">
                <li class="span6 list-item-1">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="{{ asset('bundles/core/template-frontend/template-3/images/5.jpg') }}" title="Configuration" rel="prettyPhoto-1991361067">
                            <img src="{{ asset('bundles/core/template-frontend/template-3/images/5-214x379.jpg') }}" alt="Configuration" />
                            <span class="zoom-icon"></span>
                        </a>
                    </figure>
                    <div class="clear"></div>
                    <div class="desc">
                        {% block paragraph_7 %}
                            <h5>
                                <a href="xxxx" title="Configuration">Configuration</a>
                            </h5>
                            <p class="excerpt">Epsum factorial non deposit quid</p>
                        {% endblock %}
                    </div>
                </li>
                <li class="span6 list-item-2">
                    <figure class="featured-thumbnail thumbnail">
                        <a href="{{ asset('bundles/core/template-frontend/template-3/images/6.jpg') }}" title="Analytics" rel="prettyPhoto-1991361067">
                            <img src="{{ asset('bundles/core/template-frontend/template-3/images/6-214x379.jpg') }}" alt="Analytics" />
                            <span class="zoom-icon"></span>
                        </a>
                    </figure>
                    <div class="clear"></div>
                    <div class="desc">
                        {% block paragraph_8 %}
                            <h5>
                                <a href="xxxx" title="Analytics">Analytics</a>
                            </h5>
                            <p class="excerpt">Epsum factorial non depo</p>
                        {% endblock %}
                    </div>
                </li>
            </ul>
            <div class="spacer"></div>
            <div class="clear"></div>
        </div>
        <div class="hashAncor" id="compatibilityPage"></div>
        <div class="spacer"></div>
    </div>
</div>
