{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}


    HOLAS


    {#{% if id is defined %}#}
        {#<input type="hidden" value="{{ id }}" name="id">#}
    {#{% endif %}#}

    {#{{ form_widget(formEntity._token) }}#}

    {#<div class="form-group">#}
        {#<i class="fa fa-fw fa-industry"></i>#}
        {#{{ form_label(formEntity.code) }}#}
        {#{{ form_widget(formEntity.code) }}#}
    {#</div>#}

    {#<div class="form-group">#}
        {#<i class="fa fa-fw fa-industry"></i>#}
        {#{{ form_label(formEntity.name) }}#}
        {#{{ form_widget(formEntity.name) }}#}
    {#</div>#}


{% endblock %}