{% extends "ThemesBundle:Adminlte/TemplateSuper:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        filter='cssrewrite'
        '@GridBundle/Resources/public/common/css/switch.css'
        '@GridBundle/Resources/public/common/css/datatable.css'
        '@GridBundle/Resources/public/plugins/datatables/dataTables.bootstrap.css'
        '@GridBundle/Resources/public/plugins/datatables/extensions/Editor/css/editor.dataTables.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        table#{{ dataTable.tableOptions.table_name }} tr.{{ dataTable.tableOptions.table_tr_class }}:hover{
            background-color: #d2d6de;
            cursor: pointer;
        }
        input[type=checkbox] {
            height: 20px;
            width: 20px;
        }
        .dataTables_filter input[type="search"] {
            width: 350px;
            height: 35px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#'@GridBundle/Resources/public/common/js/formAddUser.js'#}
    {#'@GridBundle/Resources/public/common/js/formModule.js'#}

    {% javascripts
        '@GridBundle/Resources/public/common/js/formEdit.js'
        '@GridBundle/Resources/public/common/js/formView.js'
        '@GridBundle/Resources/public/common/js/formInfo.js'
        '@GridBundle/Resources/public/common/js/formCreatePdvChild.js'
        '@GridBundle/Resources/public/common/js/formDelete.js'
        '@GridBundle/Resources/public/common/js/formWatch.js'
        '@GridBundle/Resources/public/common/js/formViewProfile.js'
        '@GridBundle/Resources/public/plugins/datatables/jquery.dataTables.min.js'
        '@GridBundle/Resources/public/plugins/datatables/dataTables.bootstrap.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#
    "bLengthChange": false,
    "bFilter": false,
    "bSort": true,
    "bInfo": true,
    "bAutoWidth": false,
    #}

    <script type="text/javascript">

        $(document).ready(function() {

            $(document).on('click', '.copy-to-clipboard', function() {
                $('.copy-to-clipboard-text').select();
                document.execCommand("copy");
            });

            var tableJson = $('#{{ dataTable.tableOptions.table_name }}').DataTable({
                {% for key, value in dataTable.options %}
                    '{{ key }}': {{ value|raw }},
                {% endfor %}
                'data': {{ dataTable.data|raw }},
                'oSearch': {'sSearch': '{{ q|default() }}'},
                'language': {
                    'url': '{{ asset('bundles/grid/plugins/datatables/extensions/Language/spanish.json') }}'
                },
                'columns': [

                    {% for key, value in grid.data_table.columns|default([]) %}
                    {
                        'data' : function (obj) {

                            if({{ value.obj|raw }} != null){

                                {% set obj = value.obj %}
                                {% set property = value.options.property|default() %}

                                {% if property %}
                                    {{ property|raw }} {# ESTO SE USA PARA MOSTRAR CODIGO DIRECTAMENTE #}
                                {% else %}
                                    return {{ obj|raw }};
                                {% endif %}
                            }

                            return '';
                        },
                    },
                    {% endfor %}

                    {% if dataTable.tableButton is not empty %}
                    {
                        'data' : function (obj) {
                            return '{% spaceless %}
                            {% for key, button in dataTable.tableButton %}
                                {{ tianos_grid_render_button(button, '@Ui/Grid/Button/Header/_table_button.html.twig') }}
                            {% endfor %}
                            {% endspaceless %}';
                        }
                    },
                    {% endif %}
                ],
                'columnDefs': [
                    {
                        {#'targets': '_all',#}
                        'targets': {{ dataTable.columnsTargets }},
                        'createdCell':  function (td, cellData, rowData, row, col) {
                            $(td).attr('data-toggle', 'modal');
                            $(td).attr('data-target', '#{{ modal.view_id }}');
                            $(td).attr('class', '{{ dataTable.tableOptions.table_td_class }}');
                        }
                    }
                ],
                'fnRowCallback': function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                    {% for key, nRow in dataTable.rowCallBack %}
                        $(nRow).attr('{{ nRow.key|trim|raw }}', {{ nRow.value|trim|raw }});
                    {% endfor %}

                    $(nRow).attr('class', '{{ dataTable.tableOptions.table_tr_class }}');

                    return nRow;
                }
            });

            {{ tianos_grid_form_js(vars, modal, form_mapper, dataTable, '@Ui/Grid/FormJs/default.html.twig') }}

        });

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ application_google_api_key }}"></script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-{{ grid.icon }}"></i> {{ grid.title|raw }}
            <small>grid</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            {% for key, button in dataTable.tableHeaderButton %}
                <li>
                    {{ tianos_grid_render_button(button, '@Ui/Grid/Button/Header/_table_header_button.html.twig') }}
                </li>
            {% endfor %}
        </ol>
    </section>

    <section class="content">

        <div class="row">

            <div class="col-md-3">
                {{ include('PointofsaleBundle:BackendPointofsale:sidebar-left.html.twig') }}
            </div>

            <div class="col-md-9 table-responsive">

                <div class="box box-{{ vars.box_class }}">

                    <div class="box-body">
                        <table id="{{ dataTable.tableOptions.table_name }}"
                               class="table table-bordered table-striped dataTable"
                               role="grid"
                               aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    {% for key, value in dataTable.columns|default([]) %}
                                        <th>
                                            {% if value.options.icon is defined %}
                                                <i class="fa fa-fw fa-{{ value.options.icon|raw }}"></i>
                                            {% endif %}
                                            {{ value.name|raw }}
                                        </th>
                                    {% endfor %}

                                    {% if dataTable.tableButton is not empty %}
                                        <th>&nbsp</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    {% for key, value in dataTable.columns|default([]) %}
                                        <th>
                                            {% if value.options.icon is defined %}
                                                <i class="fa fa-fw fa-{{ value.options.icon|raw }}"></i>
                                            {% endif %}
                                            {{ value.name|raw }}
                                        </th>
                                    {% endfor %}

                                    {% if dataTable.tableButton is not empty %}
                                        <th>&nbsp</th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>

    {{ include('GridBundle:Modal:create.html.twig') }}
    {{ include('GridBundle:Modal:edit.html.twig') }}
    {{ include('GridBundle:Modal:delete.html.twig') }}
    {{ include('GridBundle:Modal:view.html.twig') }}
    {{ include('GridBundle:Modal:info.html.twig') }}

{% endblock %}