{% extends "ThemesBundle:Adminlte:1_template_security.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="login-box">

        <div class="login-logo">
            <b>Olvidaste</b> tu password?
        </div>

        <div class="login-box-body">
            {#<p class="login-box-msg">Sign in to start your session</p>#}

            {{ form_start(form) }}

            {{ form_widget(form._token) }}

            <div class="form-group has-feedback">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'value' : email}) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_label(form.submit) }}
                    {{ form_widget(form.submit) }}
                </div>
            </div>

            {{ form_end(form) }}

            <div class="social-auth-links text-center">

            </div>

        </div>
    </div>

{% endblock %}
