{% macro tree(objects, tree, modal, index) %}

    {% for key, value in objects %}

        {% if loop.index0 == 0 %}
            {% set index = index + 1 %}
        {% endif %}

        {% set entityParent = value.parent %}

        {% if entityParent is not empty %}
            <li
                class="x-hand"
                data-id="{{ entityParent.id }}"
                id="li-{{ entityParent.id }}">

                {{ include('TreeBundle::Template/li.html.twig', {entity:entityParent, modal:modal, badge_color:index|badge_colors()}) }}

                <ul class="{{ tree.child_ul ~ entityParent.id }}">
                    {% import _self as macro %}
                    {{ macro.tree(value.children, tree, modal, index) }}
                </ul>

            </li>
        {% endif %}

    {% endfor %}
{% endmacro %}

