{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .box-body > .image-container {
            min-height:300px;
            max-height:300px;
            overflow:hidden;
        }
        .box-body > .image-container > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">

            {% for gdFile in googleDriveFiles %}

                <div class="col-md-4">
                    <div class="box box-widget">

                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="{{ asset('bundles/user/images/no_avatar.jpg') }}" alt="">
                                <span class="username">
                                    <a
                                        href="{{ path('frontend_user_profile', {slug: gdFile.user_slug}) }}"
                                        title="{{ gdFile.user_name }}"
                                    >
                                        {{ gdFile.user_name|slice(0, 35) }}
                                    </a>
                                </span>
                                <span class="description">
                                    Compartido {{ gdFile.created_at|date("Y-m-d H:i")  }}
                                </span>
                            </div>
                            <div class="box-tools">
                                {#<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">#}
                                    {#<i class="fa fa-circle-o"></i>#}
                                {#</button>#}
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body x-hand" onclick="location.href='{{ path('backend_google_drive_grid_watch', { slug:gdFile.slug }) }}';">

                            {% if gdFile.has_thumbnail %}

                                <div class="image-container">
                                    <img
                                        class="img-responsive pad"
                                        src="{{ asset('google-drive-images/' ~ gdFile.file_id ~ '-w400.jpg') }}"
                                        alt="{{ gdFile.file_name }}"
                                        title="{{ gdFile.file_name }}"
                                    >
                                </div>

                            {% else %}
                                <img class="img-responsive pad" src="{{ asset('bundles/themes/adminlte/images/empty-image-600x400.png') }}" alt="">
                            {% endif %}

                            <p title="{{ gdFile.file_name }}">{{ gdFile.file_name|slice(0, 27) }}</p>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <span class="pull-right text-muted">127 likes - 3 comments</span>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </section>
{% endblock %}