{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">

            {% for gdFile in googleDriveFiles %}

                <div class="col-md-4 x-hand" onclick="location.href='{{ path('backend_google_drive_grid_watch', { slug:gdFile.slug }) }}';">
                    <div class="box box-widget">

                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="{{ asset('bundles/user/images/no_avatar.jpg') }}" alt="">
                                <span class="username">
                                    <a
                                        href="{{ path('frontend_user_profile', {slug: gdFile.user.slug}) }}"
                                        title="{{ gdFile.user.name ~' '~ gdFile.user.lastName }}"
                                    >
                                        {{ gdFile.user.name|slice(0, 25)  ~' '~ gdFile.user.lastName|slice(0, 25) }}
                                    </a>
                                </span>
                                <span class="description">
                                    Compartido {{ gdFile.createdAt|date("Y-m-d H:i")  }}
                                </span>
                            </div>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                                    <i class="fa fa-circle-o"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body">
                            <img class="img-responsive pad" src="{{ asset('bundles/themes/adminlte/images/empty-image.png') }}" alt="">
                            <p title="{{ gdFile.fileName }}">{{ gdFile.fileName|slice(0, 27) }}</p>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <span class="pull-right text-muted">127 likes - 3 comments</span>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </section>
{% endblock %}