{% extends "ThemesBundle:18540:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?key={{ application_google_api_key }}"></script>

    <script type="text/javascript">

        $( document ).ready(function() {
            var map;
            var marker;
            var mapCanvas = document.getElementById('google-map-create');
            var mapOptions = {
                center: new google.maps.LatLng(-12.120602,-77.0294574),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(mapCanvas, mapOptions);
        });

    </script>

{% endblock %}

{% block content %}


{#Swiper#}
<section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
    <div class="swiper-wrapper">
        <div class="swiper-slide context-dark" data-slide-bg="{{ asset('bundles/themes/18540/images/slider-1-1920x879.jpg') }}">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-7">
                            <h1 data-caption-animate="fadeInUp" data-caption-delay="100">
                                Software de Gestión de Salones de Belleza
                            </h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">
                                Tianos Beauty te permite automatizar los procesos de tu empresa.
                            </p>
                            <a class="button button-lg button-primary button-icon button-icon-left" href="#contact" data-caption-animate="fadeInUp" data-caption-delay="450">
                                <div class="icon mdi mdi-check"></div>Ordene una demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="{{ asset('bundles/themes/18540/images/slider-2-1920x879.jpg') }}" style="background-position: 50% 50%">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-7">
                            <h1 data-caption-animate="fadeInUp" data-caption-delay="100">
                                Gestiona los Recursos de tu empresa on-line.
                            </h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">
                                Optimiza tus tiempos dentro de tu empresa, para expandirte o buscar nuevos mercados.
                            </p>
                            <a class="button button-lg button-primary button-icon button-icon-left" href="#contact" data-caption-animate="fadeInUp" data-caption-delay="450">
                                <div class="icon mdi mdi-check"></div>Ordene una demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="{{ asset('bundles/themes/18540/images/slider-3-1920x879.jpg') }}" style="background-position: 50% 50%">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-7">
                            <h1 data-caption-animate="fadeInUp" data-caption-delay="100">
                                Manejar un salón Spa nunca ha sido más simple
                            </h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">
                                Gestiona de manera precisa todos tus productos con el control de stock de Tianos Beauty.
                            </p>
                            <a class="button button-lg button-primary button-icon button-icon-left" href="#contact" data-caption-animate="fadeInUp" data-caption-delay="450">
                                <div class="icon mdi mdi-check"></div>Ordene una demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#Swiper Pagination#}
    <div class="container swiper-pagination-wrap">
        <div class="swiper-pagination"></div>
    </div>
</section>



{#Advantages#}
{#<a id="modules"></a>#}
<section class="section section-negative">
    <div class="container section-negative-inner">
        <div class="row row-30 justify-content-center row-flex">
            <div class="col-md-6 col-lg-4">
                <div class="counter-boxed">
                    <div class="counter-boxed-top">
                        <div class="counter-boxed-media">
                            <img src="{{ asset('bundles/themes/18540/images/progress-1-92x84.png') }}" alt="" width="92" height="84"/>
                        </div>
                        <div class="counter-boxed-title">
                            <div class="subtitle">Mas de</div>
                            <div class="counter-wrap">
                                <div class="counter heading-2">23754</div>
                            </div>
                            <div class="title heading-5">Tickets</div>
                        </div>
                    </div>
                    <div class="counter-boxed-body">
                        <div class="exeption">
                            Prioriza con colores las citas según tus necesidades; cobrada, reservada online, rechazada por el cliente, según empleado y mucho más.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="counter-boxed">
                    <div class="counter-boxed-top">
                        <div class="counter-boxed-media">
                            <img src="{{ asset('bundles/themes/18540/images/progress-2-92x84.png') }}" alt="" width="92" height="84"/>
                        </div>
                        <div class="counter-boxed-title">
                            <div class="subtitle">Up to</div>
                            <div class="counter-wrap">
                                <div class="counter heading-2">30</div>
                                <div class="heading-2">%</div>
                            </div>
                            <div class="title heading-5">Cashback</div>
                        </div>
                    </div>
                    <div class="counter-boxed-body">
                        <div class="exeption">
                            Agrega, edita y elimina productos   diferéncialos con tu código.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="counter-boxed">
                    <div class="counter-boxed-top">
                        <div class="counter-boxed-media">
                            <img src="{{ asset('bundles/themes/18540/images/progress-3-92x84.png') }}" alt="" width="92" height="84"/>
                        </div>
                        <div class="counter-boxed-title">
                            <div class="subtitle">Up to</div>
                            <div class="counter-wrap">
                                <div class="counter heading-2">25</div>
                                <div class="heading-2">%</div>
                            </div>
                            <div class="title heading-5">for Deposits</div>
                        </div>
                    </div>
                    <div class="counter-boxed-body">
                        <div class="exeption">
                            Olvídate de esperar llegar al salón para verificar una boleta, una cita programada, monitorear el stock de productos.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#The Best Banking Choice#}
    <a id="modules"></a>
    <div class="section-md context-dark">
        <div class="container">
            <div class="row row-fix justify-content-center text-center">
                <div class="col-md-10 col-xl-7">
                    <h2 class="custom-title">
                        <span>Plataforma adaptativa</span>
                    </h2>
                    <p>
                        Diseño web responsive, reestructura en la pantalla del dispositivo los elementos de la web para optimizar todo el espacio disponible y ofrecer una excelente experiencia de usuario.
                    </p>
                </div>
            </div>
            <div class="row row-40 align-items-lg-center">
                <div class="col-sm-6 col-lg-4">
                    <ul class="service-list-1">
                        <li class="service-item-1 service-item-1-right unit wow fadeIn">
                            <div class="unit-item">
                                <div class="icon mercury-icon-globe-marker"></div>
                            </div>
                            <div class="unit-body">
                                <h6 class="title">Responsive</h6>
                                <p>Sistema adaptativo a diferente plataformas.</p>
                            </div>
                        </li>
                        <li class="service-item-1 service-item-1-right unit wow fadeIn">
                            <div class="unit-item">
                                <div class="icon mercury-icon-touch"></div>
                            </div>
                            <div class="unit-body">
                                <h6 class="title">Mobile Apps</h6>
                                <p>Consiga acceso instantaneo a su cuenta en cualquier equipo.</p>
                            </div>
                        </li>
                        <li class="service-item-1 service-item-1-right unit wow fadeIn">
                            <div class="unit-item">
                                <div class="icon mercury-icon-phone-24"></div>
                            </div>
                            <div class="unit-body">
                                <h6 class="title">24/7 Soporte</h6>
                                <p>Nuestro equipo de soporte está siempre listo para ayudarlo a resolver cualquier duda.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                    <div class="text-center wow fadeIn">
                        <img src="{{ asset('bundles/themes/18540/images/index-1-1-309x582.png') }}" alt="" width="309" height="582"/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <ul class="service-list-1">
                        <li class="service-item-1 unit wow fadeIn">
                            <div class="unit-item">
                                <div class="icon mercury-icon-social"></div>
                            </div>
                            <div class="unit-body">
                                <h6 class="title">Programas para Cliente</h6>
                                <p>Nuestro sistema tiene programas especiales con beneficios para sus clientes.</p>
                            </div>
                        </li>
                        <li class="service-item-1 unit wow fadeIn">
                            <div class="unit-item">
                                <div class="icon mercury-icon-case"></div>
                            </div>
                            <div class="unit-body">
                                <h6 class="title">Perfil personal</h6>
                                <p>Registre su perfil personal gratuito en l&iacute;nea para comenzar a utilizar nuestros servicios.</p>
                            </div>
                        </li>
                        <li class="service-item-1 unit wow fadeIn">
                            <div class="unit-item">
                                <div class="icon mercury-icon-gears"></div>
                            </div>
                            <div class="unit-body">
                                <h6 class="title">F&aacute;cil configuración de la cuenta</h6>
                                <p>Los clientes registrados pueden editar la configuración del sistema en 2 clics.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="button-wrap-lg text-center">
                <a class="button button-lg button-primary" href="#contact">Ver mas ventajas</a>
            </div>
        </div>
    </div>
</section>


{#Advantages and Details#}
<a id="advantage"></a>
<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row row-fix justify-content-center text-center">
            <div class="col-md-10 col-xl-7">
                <h2 class="custom-title">
                    <span>Ventajas y Detalles</span>
                </h2>
                <p>
                    Brindamos a todos nuestros clientes diversos adelantos en el pago de servicios bancarios.
                </p>
            </div>
        </div>
        <div class="row row-30 row-flex">
            <div class="col-sm-6 col-lg-3 wow fadeInRight">
                <blockquote class="quote quote-default">
                    <div class="quote-icon mdi mdi-format-quote"></div>
                    <div class="quote-body">
                        <q class="heading-6">
                            En Tianos, nuestro objetivo es proporcionar a los clientes soporte t&eacute;cnico para los salones de belleza de latinoamerica.
                        </q>
                    </div>
                    <div class="quote-meta">
                        <div class="author">
                            <cite>Alfredo Bringas</cite>
                        </div>
                        <div class="position">CEO &amp; Founder of Tianos</div>
                    </div>
                </blockquote>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay="0.1s">
                <div class="blurb-boxed">
                    <div class="icon mercury-icon-desktop-chart"></div>
                    <h6 class="title">Detalles Estad&iacute;sticos</h6>
                    <p class="exeption">
                        Nuestro recurso en l&iacute;nea proporciona detalles estad&iacute;sticos a los clientes.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay="0.2s">
                <div class="blurb-boxed">
                    <div class="icon mercury-icon-e-mail-o"></div>
                    <h6 class="title">E-mail Newsletter</h6>
                    <p class="exeption">
                        Suscr&iacute;base a nuestro bolet&iacute;n de noticias y mant&eacute;ngase informado sobre las &uacute;ltimas actualizaciones.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay="0.3s">
                <div class="blurb-boxed">
                    <div class="icon mercury-icon-target-2"></div>
                    <h6 class="title">Metas financieras</h6>
                    <p class="exeption">
                        Alcance fácilmente sus objetivos financieros con nuestras actualizaciones disponibles regularmente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{#About us#}
<section class="section section-lg bg-gray-100">
    <div class="container">
        <div class="row row-20 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-6">
                <img class="img-bordered" src="{{ asset('bundles/themes/18540/images/index-1-2-570x352.jpg') }}" alt="" width="570" height="352"/>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5">
                <div class="text-block-2">
                    <h6>Tianos se fund&oacute; en 2010 para presentar el l dedicado al éxito de nuestros clientes.</h6>
                    <p>
                        En Tianos, estamos resolviendo los mayores desaf&iacute;os de los procesos, al mismo tiempo que gestionamos el riesgo y proporcionamos un rendimiento a nuestros clientes y accionistas.
                    </p>
                    <a class="button button-lg button-primary" href="#contact">
                        Leer mas
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{#Testimonials#}
<a id="testimonials"></a>
<section class="section section-md">
    <div class="container text-center">
        <h2 class="custom-title">
            <span>Testimonios</span>
        </h2>
        <div
            class="owl-carousel owl-carousel-1"
            data-items="1"
            data-dots="true"
            data-nav="true"
            data-md-stage-padding="0"
            data-loop="true"
            data-margin="30"
            data-mouse-drag="false"
            data-autoplay="true">
            <blockquote class="quote quote-large">
                <div class="quote-meta">
                    <img class="img-bordered" src="{{ asset('bundles/themes/18540/images/index-1-3-220x220.jpg') }}" alt="" width="220" height="220"/>
                </div>
                <div class="quote-body">
                    <div class="author heading-6">
                        <cite>Mildred Bates</cite>
                    </div>
                    <div class="position">Beauty Salon Shop Owner</div>
                    <q class="heading-5">
                        Cuando necesitaba un sistema de gesti&oacute;n y atraer a más clientes.
                    </q>
                </div>
            </blockquote>
            <blockquote class="quote quote-large">
                <div class="quote-meta">
                    <img class="img-bordered" src="{{ asset('bundles/themes/18540/images/index-1-4-220x220.jpg') }}" alt="" width="220" height="220"/>
                </div>
                <div class="quote-body">
                    <div class="author heading-6">
                        <cite>Marie Hanson</cite>
                    </div>
                    <div class="position">Charity Organization Manager</div>
                    <q class="heading-5">
                        Escog&iacute; TianosBeauty porque  me apoyo mucho a ofrecer mejores servicios a nuestros clientes.
                    </q>
                </div>
            </blockquote>
            <blockquote class="quote quote-large">
                <div class="quote-meta">
                    <img class="img-bordered" src="{{ asset('bundles/themes/18540/images/index-1-5-220x220.jpg') }}" alt="" width="220" height="220"/>
                </div>
                <div class="quote-body">
                    <div class="author heading-6">
                        <cite>Ann Smith</cite>
                    </div>
                    <div class="position">International Company Owner</div>
                    <q class="heading-5">
                        Encontrando Tianos, un sistema confiable con el intranet, abri una nueva sucursal en el sur. ¡Gracias!
                    </q>
                </div>
            </blockquote>
        </div>
    </div>
</section>


{#Latest Statistical Information#}
<section class="section section-md bg-primary-dark">
    <div class="container">
        <div class="row row-fix justify-content-center text-center">
            <div class="col-md-10 col-xl-7">
                <h2 class="custom-title">
                    <span>Última informaci&oacute;n estad&iacute;stica</span>
                </h2>
                <p>
                    Nuestro sistema compila regularmente las estadísticas de los procesos de su negocio.
                </p>
            </div>
        </div>
        <div class="row row-40 justify-content-between">
            <div class="col-lg-4">
                <svg class="svg-hidden">
                    <!-- gradient-->
                    <lineargradient id="linear-gradient-primary" x1="50%" y1="30%" x2="50%" y2="100%">
                        <stop offset="0%" stop-color="#a371f7"></stop>
                        <stop offset="100%" stop-color="#fff"></stop>
                    </lineargradient>
                </svg>
                <svg class="svg-hidden">
                    <lineargradient id="linear-gradient-secondary" x1="50%" y1="30%" x2="50%" y2="100%">
                        <stop offset="0%" stop-color="#a371f7"></stop>
                        <stop offset="100%" stop-color="#130c37"></stop>
                    </lineargradient>
                </svg>
                <div class="d3-chart" id="spline-chart" style="width:100%; margin: 0 auto"></div>
                <p>
                    Con el desarrollo de los sistemas en linea, el n&uacute;mero de sus clientes aumentara hasta cumplir los objetivos planeados.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 text-center">
                <div class="row row-30 row-xxl-40 row-fix">
                    <div class="col-6">
                        <div class="progress-bar-circle" data-value="0.25" data-gradient="#36f1f8" data-empty-fill="#7b59d0" data-size="100" data-thickness="2">
                            <span></span>
                        </div>
                        <p class="progress-bar-circle-title">Economia</p>
                    </div>
                    <div class="col-6">
                        <div class="progress-bar-circle" data-value="0.50" data-gradient="#36f1f8" data-empty-fill="#7b59d0" data-size="100" data-thickness="2">
                            <span></span>
                        </div>
                        <p class="progress-bar-circle-title">Cashback</p>
                    </div>
                    <div class="col-6">
                        <div class="progress-bar-circle" data-value="0.75" data-gradient="#36f1f8" data-empty-fill="#7b59d0" data-size="100" data-thickness="2">
                            <span></span>
                        </div>
                        <p class="progress-bar-circle-title">Estabilidad</p>
                    </div>
                    <div class="col-6">
                        <div class="progress-bar-circle" data-value="1" data-gradient="#36f1f8" data-empty-fill="#7b59d0" data-size="100" data-thickness="2">
                            <span></span>
                        </div>
                        <p class="progress-bar-circle-title">Guarant&iacute;a</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <p class="text-gray-600">
                    Nuestros servicios financieros nos han ayudado a obtener prestigiosos premios.
                </p>
                <div class="progress-linear-wrap">
                    <article class="progress-linear">
                        <div class="progress-header">
                            <p>Consulta de ingresos</p>
                            <span class="progress-value">75</span>
                        </div>
                        <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear"></div>
                        </div>
                    </article>
                    <article class="progress-linear">
                        <div class="progress-header">
                            <p>Online Reporting</p>
                            <span class="progress-value">50</span>
                        </div>
                        <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear"></div>
                        </div>
                    </article>
                    <article class="progress-linear">
                        <div class="progress-header">
                            <p>Sistema Online</p>
                            <span class="progress-value">80</span>
                        </div>
                        <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear"></div>
                        </div>
                    </article>
                    <article class="progress-linear">
                        <div class="progress-header">
                            <p>24/7 Suporte</p>
                            <span class="progress-value">75</span>
                        </div>
                        <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear"></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="button-wrap-lg text-center">
            <a class="button button-lg button-primary" href="#contact">Ver todas las estadisticas</a>
        </div>
    </div>
</section>


{#Call to action#}
<section class="section section-xs bg-primary-gradient">
    <div class="container">
        <div class="box-cta">
            <div class="box-cta-inner">
                <h3>Pida su demo de <span class="font-weight-bold">TianosBeauty</span> Ahora!</h3>
            </div>
            <div class="box-cta-inner">
                <a class="button button-lg button-primary-dark" href="#contact">Ordene una demo</a>
            </div>
        </div>
    </div>
</section>


{#How to Order a New Card#}
<section class="section section-md">
    <div class="container text-center">
        <h2 class="custom-title">
            <span>Como ordenar el servicio</span>
        </h2>
        <div class="row row-40 justify-content-center number-counter blurb-icon-bordered-wrap wow fadeInUp">
            <div class="col-sm-6 col-lg-3">
                <div class="blurb-icon-bordered">
                    <div class="icon-wrap">
                        <div class="icon mercury-icon-card">
                            <span class="index-counter"></span>
                        </div>
                    </div>
                    <h5 class="title">Registro online</h5>
                    <p class="exeption">
                        Todo comienza con el registro en línea. Solo se necesitan datos básicos: nombre, apellidos, etc.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="blurb-icon-bordered">
                    <div class="icon-wrap">
                        <div class="icon mercury-icon-note"><span class="index-counter"></span></div>
                    </div>
                    <h5 class="title">Rellenar un formulario</h5>
                    <p class="exeption">
                        Después del registro básico, deberá completar un formulario para ayudarnos a determinar sus objetivos.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="blurb-icon-bordered">
                    <div class="icon-wrap">
                        <div class="icon mercury-icon-partners"><span class="index-counter"></span></div>
                    </div>
                    <h5 class="title">Firmando un acuerdo</h5>
                    <p class="exeption">
                        Esta etapa concluye el procedimiento de abrir una cuenta para comenzar a usar el servicio.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="blurb-icon-bordered">
                    <div class="icon-wrap">
                        <div class="icon mercury-icon-money-3"><span class="index-counter"></span></div>
                    </div>
                    <h5 class="title">Usando TianosBeauty</h5>
                    <p class="exeption">
                        Puede usar el sistema para gestionar los recursos de su empresa on-line.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{#Frequently Asked Questions#}
{#
<section class="section section-md bg-primary-dark">
    <div class="container">
        <h2 class="custom-title text-center">
            <span>Preguntas frecuentes</span>
        </h2>
        <div class="row row-40">
            <div class="col-sm-6 col-lg-6">
                <ul class="list-xl wow fadeIn">
                    <li>
                        <h5>What is the currency amount for the Blue Card?</h5>
                        <p class="text-gray-600">
                            The minimumount would be as per Banque guidelines appultants.
                        </p>
                    </li>
                    <li>
                        <h5>What steps do I take if my card gets lost?</h5>
                        <p class="text-gray-600">
                            If you lose your c other countries please call 0091-22- 66937000.
                        </p>
                    </li>
                    <li>
                        <h5>Do I have to maintain any minimum balance?</h5>
                        <p class="text-gray-600">
                            It lance requirement.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-6">
                <ul class="list-xl wow fadeIn">
                    <li>
                        <h5>What kind of browser do I need for online banking?</h5>
                        <p class="text-gray-600">
                            Our Banking System supports all brou are usinr browser is 9.0 or higher.
                        </p>
                    </li>
                    <li>
                        <h5>Can I make online payments to foreign recipients?</h5>
                        <p class="text-gray-600">
                            Yes, you can! Our bank ansfer any amount of money or purchase services and products.
                        </p>
                    </li>
                    <li>
                        <h5>What security features does the mobile banking have?</h5>
                        <p class="text-gray-600">
                            Mobile browser-based ban PC browsare 128ction system (IDS) etc.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="button-wrap-lg text-center">
            <a class="button button-lg button-primary" href="#">
                Ver todas las preguntas hechas
            </a>
        </div>
    </div>
</section>
#}


{#Latest Blog Posts#}
<a id="plans"></a>
<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row row-fix justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <h2 class="custom-title">
                    <span>Escoja su plan</span>
                </h2>
                <p>
                    Nuestro servicio ofrece una potente y probada plataforma perfecta para la gesti&oacute;n.
                </p>
            </div>
        </div>
        <div class="row row-40 justify-content-center">
            <div class="col-md-4 wow fadeInLeft">
                <article class="post-modern">
                    <div class="media-wrapper">
                        <a href="#plans">
                            <img src="{{ asset('bundles/themes/18540/images/modern-blog-1-370x240.jpg') }}" alt="" width="370" height="240"/>
                        </a>
                        <ul class="list-tags">
                            <li>
                                <a class="tag" href="#plans">Plan B&aacute;sico</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-body">
                        <div class="post-author">
                            <a class="img-author" href="#plans">
                                <img src="{{ asset('bundles/themes/18540/images/modern-author-1-72x72.jpg') }}" alt="" width="72" height="72"/>
                            </a>
                            <div class="post-author-name">Empecemos a automatizar los procesos!</div>
                        </div>
                        <h5 class="post-title">
                            <a href="#plans">Lo mejor para empezar</a>
                        </h5>
                        <p class="post-exeption">
                            Gestionar un sal&oacute;n puede ser f&aacute;cil, agradable y sin estr&eacute;s. Crear un equipo eficiente y motivado.
                        </p>
                        <div class="post-date">* S/ 100 soles al mes</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.1s">
                <article class="post-modern">
                    <div class="media-wrapper">
                        <a href="#plans">
                            <img src="{{ asset('bundles/themes/18540/images/modern-blog-2-370x240.jpg') }}" alt="" width="370" height="240"/>
                        </a>
                        <ul class="list-tags">
                            <li>
                                <a class="tag" href="#plans">Plan Plus</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-body">
                        <div class="post-author">
                            <a class="img-author" href="#plans">
                                <img src="{{ asset('bundles/themes/18540/images/modern-author-2-72x72.jpg') }}" alt="" width="72" height="72"/>
                            </a>
                            <div class="post-author-name">El plan perfecto para su negocio!</div>
                        </div>
                        <h5 class="post-title">
                            <a href="#plans">
                                M&aacute;s potencia personalizaci&oacute;n
                            </a>
                        </h5>
                        <p class="post-exeption">
                            Las modernas herramientas de marketing de Tianos son el as bajo la manga. Solo mira esas citas llenar tu calendario.
                        </p>
                        <div class="post-date">* S/ 120 soles al mes</div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.1s">
                <article class="post-modern">
                    <div class="media-wrapper">
                        <a href="#plans">
                            <img src="{{ asset('bundles/themes/18540/images/modern-blog-3-370x240.jpg') }}" alt="" width="370" height="240"/>
                        </a>
                        <ul class="list-tags">
                            <li>
                                <a class="tag" href="#plans">Plan Pro</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-body">
                        <div class="post-author">
                            <a class="img-author" href="#plans">
                                <img src="{{ asset('bundles/themes/18540/images/modern-author-3-72x72.jpg') }}" alt="" width="72" height="72"/>
                            </a>
                            <div class="post-author-name">Deje que le ayudemos en la gestión de su empresa.</div>
                        </div>
                        <h5 class="post-title">
                            <a href="#plans">
                                Caracter&iacute;sticas avanzadas
                            </a>
                        </h5>
                        <p class="post-exeption">
                            Obtendr&aacute; informaci&oacute;n sobre las finanzas, los valores de venta y la satisfacci&oacute;n del cliente de su sal&oacute;n.
                        </p>
                        <div class="post-date">* S/ 150 soles al mes</div>
                    </div>
                </article>
            </div>
        </div>
{#        <div class="button-wrap-lg text-center">
            <a class="button button-lg button-primary" href="classic-blog.html">
                View All Blog Posts
            </a>
        </div>#}
    </div>
</section>

{#
<section class="section section-sm bg-primary-gradient context-dark text-center">
    <div class="container">
        <div class="row row-20 justify-content-md-center">
            <div class="col-md-9 col-lg-6 col-xxl-7">
                <h3>
                    Suscribirse para <span class="font-weight-bold">Actualizaciones</span>
                </h3>
            </div>
            <div class="col-md-8 col-lg-5 col-xxl-4">
                <form class="rd-form rd-mailform rd-form-inline-2" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                    <div class="form-wrap">
                        <input class="form-input" id="subscribe-form-0-email" type="email" name="email" data-constraints="@Email @Required"/>
                        <label class="form-label" for="subscribe-form-0-email">Ingrese su e-mail</label>
                    </div>
                    <button class="form-icon-button mdi mdi-email-outline" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</section>
#}

{#Contacts#}
<a id="contact"></a>
<section class="section">
    <div class="row row-flex no-gutters">
        <div class="col-md-6 col-lg-7">
            <div id="google-map-create"></div>
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="section-lg">
                <div class="container-custom">
                    <h3>Informaci&oacute;n del contacto</h3>
                    <ul class="contact-box">
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left">
                                    <span class="icon mdi mdi-map-marker"></span>
                                </div>
                                <div class="unit-body">
                                    <a class="hover-light-text" href="#contact">
                                        Parque Kennedy - Miraflores,
                                        <br class="veil reveal-lg-inline">
                                        Lima, Per&uacute; 15074
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left">
                                    <span class="icon mdi mdi-phone"></span>
                                </div>
                                <div class="unit-body">
                                    <ul class="list-phones">
                                        <li><a class="hover-light-text" href="#contact">(+51) 987.214.984</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-horizontal unit-spacing-xxs">
                                <div class="unit-left">
                                    <span class="icon mdi mdi-email"></span>
                                </div>
                                <div class="unit-body">
                                    <a class="hover-light-text" href="#contact">tianos.system@gmail.com</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="group-md group-middle social-items">
                        <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-facebook" href="https://fb.me/tianosBeauty"></a>
                        <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-twitter" href="https://twitter.com/tianosApp"></a>
                        <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-instagram" href="#contact"></a>
                        <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-facebook-messenger" href="https://fb.me/tianosBeauty"></a>
                        <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-linkedin" href="#contact"></a>
                        <a class="icon icon-md icon-gray-400 novi-icon mdi mdi-snapchat" href="#contact"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}