{% extends "ThemesBundle:Adminlte:1_template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .box-body > a > .image-container {
            min-height:300px;
            max-height:300px;
            overflow:hidden;
        }
        .box-body > a > .image-container > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow">
                        <i class="fa fa-files-o"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-number">Banco de Exámenes</span>
                        <span class="info-box-text">Compártelo, con la humanidad.</span>
                        <span class="info-box-text">Aplicación que provee acceso a información digital de exámenes universitarios.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            {% for gdFile in googleDriveFiles %}

                <div class="col-md-4">
                    <div class="box box-widget">

                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="{{ asset('bundles/user/images/no_avatar.jpg') }}" alt="">
                                <span class="username">
                                    <a
                                        href="{{ path('frontend_user_profile', {slug: gdFile.user_slug}) }}"
                                        title="{{ gdFile.user_name }}"
                                    >
                                        {{ gdFile.user_name|slice(0, 35) }}
                                    </a>
                                </span>
                                <span class="description">
                                    Compartido {{ gdFile.created_at|date("Y-m-d H:i")  }}
                                </span>
                            </div>
                            <div class="box-tools">
                                {#<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">#}
                                    {#<i class="fa fa-circle-o"></i>#}
                                {#</button>#}
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>

                        {#onclick="location.href='{{ path('backend_google_drive_grid_watch', { slug:gdFile.slug }) }}';"#}
                        <div class="box-body x-hand">

                            <a href="{{ path('backend_google_drive_grid_watch', { slug:gdFile.slug }) }}">
                                {% if gdFile.has_thumbnail %}
                                    <div class="image-container">
                                        <img
                                            class="img-responsive pad"
                                            src="{{ asset('google-drive-images/' ~ gdFile.file_id ~ '-w400.jpg') }}"
                                            alt="{{ gdFile.file_name }}"
                                            title="{{ gdFile.file_name }}"
                                        >
                                    </div>
                                {% else %}
                                    <img class="img-responsive pad" src="{{ asset('bundles/themes/adminlte/images/empty-image-600x400.png') }}" alt="">
                                {% endif %}

                                <p title="{{ gdFile.file_name }}">
                                    <img src="{{ gdFile.file_icon_link }}" class="img-thumbnail"> {{ gdFile.file_name|slice(0, 27) }}
                                </p>
                            </a>

                            <button type="button" class="btn btn-default btn-xs margin-right-5">
                                <i class="fa fa-share-alt"></i> {{ gdFile.count_share|default(0) }} compartido
                            </button>
                            <button type="button" class="btn btn-default btn-xs">
                                <i class="fa fa-eye"></i> {{ gdFile.count_view|default(0) }} vistas
                            </button>
                            {#<span class="pull-right text-muted">127 likes - 3 comments</span>#}
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </section>
{% endblock %}