{% spaceless %}

    {% import "TreeBundle::Macro/tree_ticket.html.twig" as macro %}

    {{ form_start(form, {name: 'form-create-services'}) }}

        <div style="display: none">
            {{ form_widget(form.code, {'value' : '-1'}) }}
        </div>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">
                <i class="fa fa-plus"></i> Agregar servicio
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-5">

                    <h4 class="box-title">
                        <i class="fa fa-fw fa-sitemap"></i> Categorías
                    </h4>

                    <div class="{{ tree.main_div }} box-body">

                        <ul id="{{ tree.main_ul }}">
                            {% if objectsTree is not empty %}
                                {{ macro.tree(
                                    objectsTree,
                                    tree,
                                    -1,
                                    'TreeBundle::Template/li_ticket.html.twig',
                                    'backend_services_index'
                                    ) }}
                            {% else %}
                                <p>No hay items que mostrar</p>
                            {% endif %}
                        </ul>

                    </div>
                </div>
                <div class="col-md-7">

                    <h4 class="box-title">
                        <i class="fa fa-fw fa-file-text-o"></i> Servicios
                    </h4>


                    <table class="table table-bordered service">
                        <thead>
                            <tr>
                                <th style="width: 20px"></th>
                                <th class="text-center">#</th>
                                <th class="text-left">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-service">
                                <td colspan="3">
                                    Seleccione una categoría.
                                </td>
                            </tr>
                            {% for service in services %}
                                <tr class="tr-service tr-service-{{ service.category.id }}" style="display: none">
                                    <td>
                                        <input type="checkbox"
                                               name="services[code][]"
                                               value="{{ service.id }}">
                                    </td>
                                    <td class="text-center">
                                        {{ service.id }}
                                    </td>
                                    <td class="text-left">
                                        {{ service.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-outline">Agregar</button>
        </div>

    {{ form_end(form) }}

{% endspaceless %}