{% spaceless %}
<button class="btn {{ button.class }}" alt="{{ button.alt }}" title="{{ button.title }}" data-toggle="{{ button.dataToggle }}" data-target="#{{ button.dataTarget }}" style="{{ button.style }}">{{ button.icon|raw }}</button>
{% endspaceless %}

