{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}
    <div class="box box-solid">
        {#<div class="box-header with-border">#}
            {#<h3 class="box-title">About Me</h3>#}
        {#</div>#}

        <div class="box-body">

            <div class="row">
                <div class="col-md-4">
                    <strong>
                        <i class="fa fa-calendar margin-r-5"></i> Fecha
                    </strong>

                    <p class="text-muted">
                        {{ entity.dateBook|date('Y-m-d', false) }}
                    </p>
                </div>
                <div class="col-md-4">
                    <strong>
                        <i class="fa fa-clock-o margin-r-5"></i> Hora inicio
                    </strong>

                    <p class="text-muted">
                        {{ entity.timeInBook|date('H:i', false) }}
                    </p>
                </div>
                <div class="col-md-4">
                    <strong>
                        <i class="fa fa-clock-o margin-r-5"></i> Hora fin
                    </strong>

                    <p class="text-muted">
                        {{ entity.timeOutBook|date('H:i', false) }}
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-book margin-r-5"></i> Nombre
                    </strong>

                    <p class="text-muted">
                        {{ entity.name }}
                    </p>
                </div>
                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-user margin-r-5"></i> Cliente
                    </strong>

                    <p class="text-muted">
                        {{ entity.client.nameBox }}
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}