{#https://almsaeedstudio.com/themes/AdminLTE/index2.html#}

{% import "ThemesBundle::Adminlte/Macro/html.html.twig" as html %}
{% import "ThemesBundle::Adminlte/Macro/head.html.twig" as head %}
{% import "ThemesBundle::Adminlte/Macro/meta.html.twig" as meta %}
{% import "ThemesBundle::Adminlte/Macro/bi3d.html.twig" as bi3d %}
{% import "ThemesBundle::Adminlte/Macro/twitter.html.twig" as twitter %}
{% import "ThemesBundle::Adminlte/Macro/open_graph.html.twig" as og %}

{#{{ dump(app.user) }}#}

{#{% if(app.user.image is defined and app.user.image is not null) %}#}
    {#{% set image_avatar = asset('../../uploads/user/' ~ app.user.image) | imagine_filter('filter_160') %} #}{# ~'?'~ random()#}
{#{% else %}#}
    {#{% set image_avatar = asset('bundles/themes/common/images/no_avatar.jpg') %} #}{# | imagine_filter('filter_160')#}
{#{% endif %}#}

{#{% if(app.user.image is defined and app.user.image is not null) %}#}
    {#{% set image_update = asset('../../uploads/user/' ~ app.user.image) | imagine_filter('filter_500') %}#}
{#{% else %}#}
    {#{% set image_update = asset('bundles/themes/common/images/no_avatar.jpg') %}#}
{#{% endif %}#}

{% set image_avatar = asset('bundles/themes/common/images/no_avatar.jpg') %} {# | imagine_filter('filter_160')#}

{% spaceless %}
<!DOCTYPE html>
<html>
<head>

    {{ head.meta_default() }}
    {{ head.favicon() }}
    {{ head.canonical() }}

    {% block seo %}
        {% block head %}

            {#para copiar en otras paginas#}
            {{ head.title() }}
        {% endblock %}

        {% block twitter %}
            {{ twitter.card() }}

            {#para copiar en otras paginas#}
            {#{{ twitter.title() }}#}
            {#{{ twitter.description() }}#}
            {#{{ twitter.image() }}#}
        {% endblock %}

        {% block open_graph %}
            {{ og.default() }}
            {{ og.url() }}

            {#para copiar en otras paginas#}
            {#{{ og.title() }}#}
            {#{{ og.description() }}#}
            {#{{ og.image() }}#}
        {% endblock %}

        {% block bi3d %}
            {#para copiar en otras paginas#}
            {#{{ bi3d.art_id() }}#}
            {#{{ bi3d.section() }}#}
            {#{{ bi3d.art_title() }}#}
            {#{{ bi3d.pub_date() }}#}
        {% endblock %}
    {% endblock %}

    {{ head.dns_prefetch() }}
    {{ head.apple_touch_icon() }}

    {% block stylesheets %}
        {% stylesheets
            filter='cssrewrite'
            'bundles/themes/adminlte/thirdparty/font-awesome/css/font-awesome.min.css'
            'bundles/themes/adminlte/thirdparty/ionicons/css/ionicons.min.css'
            'bundles/themes/adminlte/plugins/iCheck/flat/orange.css'
            'bundles/themes/adminlte/plugins/iCheck/flat/blue.css'
            'bundles/themes/adminlte/plugins/iCheck/square/orange.css'
            'bundles/themes/adminlte/plugins/iCheck/square/green.css'
            'bundles/themes/adminlte/plugins/iCheck/square/pink.css'
            'bundles/themes/adminlte/bootstrap/css/bootstrap.min.css'
            'bundles/themes/common/css/tianos.css'
            'bundles/themes/adminlte/dist/css/AdminLTE.min.css'
            '@ThemesBundle/Resources/public/adminlte/dist/css/skins/skin-yellow.min.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/morris/morris.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/datepicker/datepicker3.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/daterangepicker/daterangepicker.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'
            '@ThemesBundle/Resources/public/adminlte/plugins/pace/pace.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

</head>

<body class="skin-yellow hold-transition sidebar-mini {% block bodyclass %}{% endblock %}">

{% block facebookSdk %}
    {{ html.facebook_sdk }}
{% endblock %}

<div class="wrapper">

    {{ include("ThemesBundle:Adminlte/TemplatePdv:2_header.html.twig") }}
    {{ include("ThemesBundle:Adminlte/TemplatePdv:3_left_main_sidebar.html.twig") }}

    <div class="content-wrapper">
        {{ html.flash_message_success }}
        {{ html.flash_message_warning }}
        {{ html.flash_message_error }}

        {% block content %}
        {% endblock %}
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ application_version }}
        </div>
        <strong>{{ application_name }} &copy {{ "now"|date("d, F Y - H:i") }}</strong> All rights reserved.
    </footer>

    {{ include("ThemesBundle:Adminlte/TemplatePdv:4_right_control_sidebar.html.twig") }}

</div>

{% block javascripts %}

    {% javascripts
        '@ThemesBundle/Resources/public/adminlte/plugins/jQuery/jquery-2.2.3.min.js'
        '@ThemesBundle/Resources/public/adminlte/thirdparty/ui/1.12.1/jquery-ui.min.js'
        '@ThemesBundle/Resources/public/adminlte/bootstrap/js/bootstrap.min.js'
        '@ThemesBundle/Resources/public/adminlte/thirdparty/raphael/raphael-min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/sparkline/jquery.sparkline.min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/knob/jquery.knob.js'
        '@ThemesBundle/Resources/public/adminlte/thirdparty/moment/2.11.2/moment.min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/daterangepicker/daterangepicker.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/datepicker/bootstrap-datepicker.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/slimScroll/jquery.slimscroll.min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/fastclick/fastclick.js'
        '@ThemesBundle/Resources/public/adminlte/dist/js/app.min.js'
        '@ThemesBundle/Resources/public/adminlte/plugins/iCheck/icheck.min.js'
        '@ThemesBundle/Resources/public/adminlte/bower_components/PACE/pace.min.js'

    %}
        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    {#HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries#}
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/backend/html5shiv/html5shiv.min.js')}}"></script>
    <script src="{{ asset('bundles/backend/respond/respond.min.js')}}"></script>
    <![endif]-->

    <script type="text/javascript">

        {#Resolve conflict in jQuery UI tooltip with Bootstrap tooltip#}
        $.widget.bridge('uibutton', $.ui.button);

        {#tooltip#}
        $('[rel="tooltip"]').on('click', function () {
            $('.flashbag').slideUp();
        });

        {#To make Pace works on Ajax calls#}
        $(document).ajaxStart(function() { Pace.restart(); });

        //    $('.ajax').click(function(){
        //        $.ajax({
        //            url: '#',
        //            success: function(result){
        //            $('.ajax-content').html('<hr>Ajax Request Completed !');
        //        }});
        //    });

    </script>

    {#<script type="text/javascript">#}
        {#$(function () {#}

            {#$('input').iCheck({#}
                {#checkboxClass: 'icheckbox_square-blue',#}
                {#radioClass: 'iradio_square-blue',#}
                {#increaseArea: '20%' // optional#}
            {#});#}

        {#});#}
    {#</script>#}


{% endblock %}

</body>
</html>
{% endspaceless %}