{% extends 'CoreBundle::CrudUser/Template/api_content.html.twig' %}

{% block api_content %}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(formEntity._token) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-industry"></i>
                {{ form_label(formEntity.client) }}
                {{ form_widget(formEntity.client) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(formEntity.profile) }}
                {{ form_widget(formEntity.profile) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(formEntity.name) }}
                {{ form_widget(formEntity.name) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(formEntity.lastName) }}
                {{ form_widget(formEntity.lastName) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-envelope-o"></i>
                {{ form_label(formEntity.email) }}
                {{ form_widget(formEntity.email) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-phone"></i>
                {{ form_label(formEntity.phone) }}
                {{ form_widget(formEntity.phone) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-calendar"></i>
                {{ form_label(formEntity.dob) }}
                {{ form_widget(formEntity.dob) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(formEntity.dni) }}
                {{ form_widget(formEntity.dni) }}
            </div>
        </div>
    </div>
{% endblock %}