{% extends 'CoreBundle::CrudUser/Template/api_content.html.twig' %}

{% block api_content %}

    {% block javascripts %}

        <script type="text/javascript">

            $(document).ready(function() {

                $('body.{{ crud.body_css }}').togglePassword({
                    password_input_class: 'password-field',
                    checkbox_id: '{{ formEntity.togglePassword.vars.id }}',
                    modal_change_password_id: '{{ crud.modal_change_password_id }}',
                });

            });

        </script>

    {% endblock %}


    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(formEntity._token) }}

    <div class="form-group">
        <i class="fa fa-fw fa-lock"></i>
        {{ form_label(formEntity.newPassword.first) }}
        {{ form_widget(formEntity.newPassword.first) }}
    </div>

    <div class="form-group">
        <i class="fa fa-fw fa-lock"></i>
        {{ form_label(formEntity.newPassword.second) }}
        {{ form_widget(formEntity.newPassword.second) }}
    </div>

    <div class="form-group pull-right">
        {{ form_widget(formEntity.togglePassword) }}
        {{ form_label(formEntity.togglePassword) }}
    </div>

    <div class="clearfix"></div>

{% endblock %}