{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}

    {#{{ form_start(form) }}#}

    {{ form_widget(form._token) }}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-key"></i>
                {{ form_label(form.newPassword.first) }}
                {{ form_widget(form.newPassword.first) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-key"></i>
                {{ form_label(form.newPassword.second) }}
                {{ form_widget(form.newPassword.second) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_label(form.togglePassword) }}
            {{ form_widget(form.togglePassword) }}
        </div>
    </div>

    {#{{ form_widget(form) }}#}

{% endblock %}
