{% spaceless %}
    <span class="{{ boxRight.box_li_id }}">
        <span class="badge {{ badge_color }}">
            {{ entity.id_increment }}
        </span>

        <input type="radio" name="{{ boxLeft.box_value }}" value="{{ entity.id_increment }}">

        <span id="{{ boxRight.box_li_id }}-{{ entity.id_increment }}">
            <span class="label label-default">
                {{ entity.code }}
            </span>

            <span class="text">
                {{ entity.name_box }}
            </span>
        </span>

        <div
            class="tools"
            data-toggle="tooltip"
            data-original-title="Category {{ entity.id_increment }}"
            style="display: none">
            <i
                class="fa fa-1x fa-fw fa-plus {{ boxLeft.modal_create_child_id }}"
                alt="Agregar child"
                title="Agregar child"
                data-toggle="modal"
                data-target="#{{ boxLeft.modal_create_child_id }}"></i>
            <i
                class="fa fa-1x fa-fw fa-pencil {{ boxLeft.modal_edit_id }}"
                alt="Editar"
                title="Editar"
                data-toggle="modal"
                data-target="#{{ boxLeft.modal_edit_id }}"></i>
            <i
                class="fa fa-1x fa-fw fa-trash-o {{ boxLeft.modal_delete_id }}"
                alt="Eliminar"
                title="Eliminar"
                data-toggle="modal"
                data-target="#{{ boxLeft.modal_delete_id }}"></i>
        </div>
    </span>
{% endspaceless %}