{% extends 'GridBundle::Template/crud_modal_content.html.twig' %}

{% block crud_modal_content %}
    <div class="box box-solid">
        {#<div class="box-header with-border">#}
            {#<h3 class="box-title">About Me</h3>#}
        {#</div>#}

        <div class="box-body">

            <div class="row">

                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-book margin-r-5"></i> ID
                    </strong>

                    <p class="text-muted">
                        <span class="badge bg-blue">{{ entity.id }}</span>
                    </p>
                </div>

                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-book margin-r-5"></i> Nombre
                    </strong>

                    <p class="text-muted">
                        {{ entity.name }}
                    </p>
                </div>

            </div>

            <hr>

            {#
            <div class="row">

                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-map-marker margin-r-5"></i> Latitud
                    </strong>

                    <p class="text-muted">
                        {{ entity.latitude }}
                    </p>
                </div>

                <div class="col-md-6">
                    <strong>
                        <i class="fa fa-map-marker margin-r-5"></i> Longitud
                    </strong>

                    <p class="text-muted">
                        {{ entity.longitude }}
                    </p>
                </div>

            </div>

            <hr>
            #}

            <strong>
                <i class="fa fa-book margin-r-5"></i> Login link
            </strong>

            <p class="text-muted">
                <input value="{{ url('backend_security_pdv_login', {slug: entity.slug}) }}" class="form-control" readonly>
            </p>

            <hr>

            <strong>
                <i class="fa fa-home margin-r-5"></i> Sucursales
            </strong>

            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                    </tr>

                    {% for pdv in entity.pointOfSaleChildren %}
                        <tr>
                            <td><span class="badge bg-blue">{{ pdv.id }}</span></td>
                            <td>{{ pdv.name }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No tiene sucursales.</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}